






.main-nav {

	font-family: PT Sans;
	font-weight: 700;
	font-size: 14px;
	font-color: green;	
}

.main-nav li {
	display: inline-block;
	margin: 0 60px 0 0;
}

h3 {
	font-family: PT Sans;
	font-weight: 700;
	font-size: 21px;

}
h1 {
	font-family: PT Sans;
	font-weight: 700;
	font-size: 30px;
	font-color: green;	
}
}
p {
	font-family: PT Sans;
	font-weight: 400;
	font-size: 14px;
}

























.blur_mountin {
	background-image: url(../img/background.png);
	width: 200px;
	height: 100px;
}