.text_1 {
	font-family: "PT Sans",sans-serif;
	font-size: 21px;
	font-weight: 700;
	color: black;
}
.text_2 {
	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: black;

}
.text_3 {
	font-family: "PT Sans",sans-serif;
	font-size: 21px;
	font-weight: 700;
	color: red;

}
.text_4 {
	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: red;
}
.text_5 {
	font-family: "PT Sans",sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: black;
}

.text_6 { 


	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: black;
}
.text_7 {
	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: black;
}
.text_8 {
	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: red;
}
.text_9 {
	font-family: "PT Sans",sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: red;
}
.text_11 {
	font-family: "PT Sans",sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: black;
}